body {
    margin: 0 0;
    opacity: 0;
    -webkit-transition: opacity 2s ease;
    background-color: #202020;
}

.wrapper {
    background-color: #202020;
    font-size: 1em;
}

.header {
    align-items: center;
    background-image: url("http://i.imgur.com/A06GjWA.jpg");
    text-align: center;
}

.hiddenTitle {
    position: absolute;
    font-size: 4em;
    font-family: serif;
    font-weight: 600;
    text-shadow: -0.02em 0 #02B3FF, 0 0.02em #02B3FF, 0.02em 0 #02B3FF, 0 -0.02em #02B3FF;
    color: #202020;
    opacity: 0;
    margin: 0.15em auto;
}

.visibleTitle {
    opacity: 1;
}

.menu ul {
    list-style: none inside;
    margin: 40px 40px;
    padding-left: 0px;
    float: left;
    position: fixed;
    border-radius: 20px;
}

.menu ul li {
    opacity: 0.5;
    zoom: normal;
    padding: 30px 0px;
    -webkit-transition: opacity 350ms ease-in-out, list-style-image 350ms ease-in-out, zoom 350ms ease, padding 350ms ease-in-out;
}

.menu ul li:hover {
    opacity: 1;
    zoom: 110%;
    cursor: pointer;
}

.about:hover {
    list-style-image: url("http://i.imgur.com/Res7Ezp.png");
}

.contacts:hover {
    list-style-image: url("http://i.imgur.com/gl5H42q.png");
}

.photos:hover {
    list-style-image: url("http://i.imgur.com/DSghNrN.png");
}

.articles:hover {
    list-style-image: url("http://i.imgur.com/xLflyNh.png");
}


.about {
    list-style-image: url('http://i.imgur.com/ROLrpYO.png');
}

.contacts {
    list-style-image: url("http://i.imgur.com/YsccmBf.png");
}

.photos {
    list-style-image: url("http://i.imgur.com/8xBkJDg.png");
}

.articles{
    list-style-image: url("http://i.imgur.com/O937sfa.png");
}

